aside{
    background-color: rgb(165, 53, 53);
    padding-right: 10px;
    z-index: 999;
    position: absolute;
    left: 80%;
   
}

footer{
    font-size: 4ch;
    background-color: grey;
    position: fixed;
    bottom: 30px;
}

header{
    background-color: grey;
    padding-top: 20px;
}

h2{
    background-color: grey;
}

h3{
    background-color: grey; 
}

